<%- include("partials/header") %>

<main>
  <h1><%= title %></h1>
  <p>Current Service Projects</p>

  <ul>
    <% projects.forEach(project => { %>
      <li>
        <strong><%= project.title %></strong>  
        - <%= project.organization_name %>  
        - <%= new Date(project.date).toLocaleDateString() %>
      </li>
    <% }) %>
  </ul>
</main>

<%- include("partials/footer") %>
